In [13]:
# Unfinished way to convert data.
import pandas as pd
import numpy as np

df = pd.read_csv('time_series_covid19_confirmed_US.csv')
af = pd.read_csv('time_series_covid19_deaths_US.csv')

In [14]:
af.loc[df['Admin2'] == 'Yuma']

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
115,84004027,US,USA,840,4027.0,Yuma,Arizona,US,32.768957,-113.906667,...,0,0,0,0,0,0,0,0,0,0
312,84008125,US,USA,840,8125.0,Yuma,Colorado,US,40.003468,-102.425867,...,0,0,0,0,0,0,0,0,0,0

In [15]:
af.loc[115, ['4/12/20','4/13/20','4/14/20']] = [1,1,1]

In [16]:
af.loc[df['Admin2'] == 'Yuma']

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
115,84004027,US,USA,840,4027.0,Yuma,Arizona,US,32.768957,-113.906667,...,0,0,0,0,0,0,0,1,1,1
312,84008125,US,USA,840,8125.0,Yuma,Colorado,US,40.003468,-102.425867,...,0,0,0,0,0,0,0,0,0,0

In [17]:
af.to_csv('time_series_covid19_deaths_US.csv')